* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}

.formel_wrapper * {
  display: block;
}

.formel_wrapper {
  margin: 1rem 0;
}

.formel_wrapper label {
  margin-bottom: 1rem;
}
